.homepage-main {
  width: 100vw;
}
.homepage-main .homepage-frames {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.homepage-main .homepage-frames iframe {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
}
.homepage-main .homepage-navigation {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  width: 100vw;
  height: 35vh;
  position: absolute;
  margin: 0;
  top: 65vh;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.0392156863);
}
.homepage-main .homepage-navigation .homepage-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
  align-items: center;
}
.homepage-main .homepage-navigation .homepage-container .navbar-tabs {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  width: 20%;
  height: 100%;
  align-items: center;
}
.homepage-main .homepage-navigation .homepage-container .navbar-tabs svg {
  width: 30%;
  font-size: 35px;
  cursor: pointer;
}
.homepage-main .homepage-navigation .homepage-container .input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 58%;
  height: 100%;
  align-items: center;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  width: 90%;
  align-items: center;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 90%;
  height: 35%;
  font-size: 0.85rem;
  font-weight: 700;
  color: #fff;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar ul li {
  cursor: pointer;
  margin: 0 20px 0 20px;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar ul ::marker {
  font-size: 0px;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab {
  height: 48%;
  width: 95%;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 90%;
  align-items: center;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 35px;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input button {
  width: 4vw;
  height: 8vh;
  border: 1px solid transparent;
  border-radius: 239px;
  background-color: #ff6b6b;
  color: #fff;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input button svg {
  font-size: 1.3rem;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .location-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  height: 80%;
  align-items: center;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .location-input svg {
  width: 9%;
  height: 100%;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .location-input .location-selector {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 85%;
  height: 70%;
  border-right: 2px solid #d3cdcd;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .location-input .location-selector label {
  font-size: 0.7rem;
  font-weight: 500;
  height: 45%;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .location-input .location-selector input {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(181, 178, 178, 0.6588235294);
  height: 45%;
  border: 1px solid rgba(205, 193, 193, 0.0196078431);
  border-radius: 5px;
  padding-left: 0px;
  width: 95%;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .location-input .dropdown-selector {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  position: absolute;
  width: 20%;
  height: 40vh;
  overflow: hidden;
  margin-bottom: 45vh;
  background-color: transparent;
  margin-left: 7vh;
  border: 1px solid transparent;
  border-radius: 15px;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .location-input .autosuggest-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  position: relative;
  width: 100%;
  height: 90%;
  overflow: hidden;
  background-color: #fff;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .location-input .autosuggest-dropdown .autosuugest-location {
  overflow: hidden scroll;
  width: 100%;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .location-input .autosuggest-dropdown .autosuugest-location .autosuggest-individual {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
  width: 100%;
  align-items: center;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .location-input .autosuggest-dropdown .autosuugest-location .autosuggest-individual .location-icon {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  width: 10%;
  height: 100%;
  background-color: rgba(181, 178, 178, 0.6588235294);
  border-radius: 15px;
  align-items: center;
  margin-right: 10px;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .location-input .autosuggest-dropdown .autosuugest-location .autosuggest-individual .location-icon svg {
  display: flex;
  flex-direction: unset;
  justify-content: space-between;
  width: 35%;
  align-items: center;
  height: 4vh;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .location-input .autosuggest-dropdown .autosuugest-location .autosuggest-individual .cityname {
  width: 80%;
  font-size: 0.8rem;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .datepicker-picker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 33%;
  height: 80%;
  align-items: center;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .datepicker-picker svg {
  width: 8%;
  height: 100%;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .datepicker-picker .date-selector {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 85%;
  height: 70%;
  border-right: 2px solid #d3cdcd;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .datepicker-picker .date-selector label {
  font-size: 0.7rem;
  font-weight: 500;
  height: 45%;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .datepicker-picker .date-selector span {
  height: 45%;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(181, 178, 178, 0.6588235294);
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 18%;
  height: 80%;
  align-items: center;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type svg {
  width: 11%;
  height: 100%;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .passenger-selector {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  height: 70%;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .passenger-selector label {
  font-size: 0.7rem;
  font-weight: 500;
  height: 45%;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .passenger-selector span {
  height: 45%;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(181, 178, 178, 0.6588235294);
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .guest-selector {
  width: 18vw;
  position: absolute;
  background-color: #fff;
  bottom: 25vh;
  border: transparent;
  border-radius: 15px;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .guest-selector .guest-picker {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  height: 100%;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .guest-selector .guest-picker span {
  display: flex;
  flex-direction: unset;
  justify-content: unset;
  font-size: 0.8rem;
  font-weight: 500;
  width: 100%;
  height: 5vh;
  align-items: center;
  padding-left: 1vw;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .guest-selector .guest-picker .guest-type {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 8vh;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .guest-selector .guest-picker .guest-type .adult-guest {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  height: 100%;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .guest-selector .guest-picker .guest-type .adult-guest span {
  font-size: 0.7rem;
  padding: 0;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .guest-selector .guest-picker .guest-type .adult-guest .adult-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50%;
  width: 100%;
  align-items: center;
  background-color: #dddde3;
  border-radius: 30px 30px 30px 30px;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .guest-selector .guest-picker .guest-type .adult-guest .adult-selector span {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  width: 60%;
  align-items: center;
  padding: 0;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .guest-selector .guest-picker .guest-type .adult-guest .adult-selector button {
  cursor: pointer;
  width: 25px;
  height: 25px;
  font-size: 0.7rem;
  font-weight: 500;
  border: transparent;
  border-radius: 50%;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .guest-selector .guest-picker .guest-type .child-guest {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  height: 100%;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .guest-selector .guest-picker .guest-type .child-guest span {
  font-size: 0.7rem;
  padding: 0;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .guest-selector .guest-picker .guest-type .child-guest .child-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  width: 100%;
  align-items: center;
  background-color: #dddde3;
  border-radius: 30px 30px 30px 30px;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .guest-selector .guest-picker .guest-type .child-guest .child-selector span {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  width: 60%;
  align-items: center;
  padding: 0;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .guest-selector .guest-picker .guest-type .child-guest .child-selector button {
  cursor: pointer;
  width: 25px;
  height: 25px;
  font-size: 0.7rem;
  font-weight: 500;
  border: transparent;
  border-radius: 50%;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .guest-selector .guest-picker .childage-count {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 8vh;
  align-items: center;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .guest-selector .guest-picker .childage-count span {
  width: 25%;
  height: 100%;
  font-size: 0.7rem;
  padding: 0;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .guest-selector .guest-picker .childage-count label {
  font-size: 0.7rem;
  color: #b3acac;
  width: 20%;
  letter-spacing: 1px;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .guest-selector .guest-picker .childage-count .child-age {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 7vw;
  height: 4vh;
  align-items: center;
  background-color: #dddde3;
  border-radius: 15px 15px 15px 15px;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .guest-selector .guest-picker .childage-count .child-age span {
  display: flex;
  flex-direction: unset;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 60%;
  font-size: 0.7rem;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .guest-selector .guest-picker .childage-count .child-age button {
  cursor: pointer;
  width: 25px;
  height: 25px;
  font-size: 0.7rem;
  font-weight: 500;
  border: transparent;
  border-radius: 50%;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .guest-selector .guest-picker .guestform-submission {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 8vh;
  align-items: center;
}
.homepage-main .homepage-navigation .homepage-container .input-container .search-bar .searchbar-tab .search-form-input .passenger-type .guest-selector .guest-picker .guestform-submission button {
  width: 55%;
  height: 55%;
  border: transparent;
  border-radius: 20px 20px 20px 20px;
  font-size: 0.5rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.homepage-main .homepage-navigation .homepage-container .input-container .footer-homepage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 25%;
  color: #fff;
  align-items: center;
  font-size: 0.9rem;
}
.homepage-main .homepage-navigation .homepage-container .input-container .footer-homepage span {
  display: flex;
  flex-direction: unset;
  justify-content: flex-end;
  width: 25%;
}
.homepage-main .homepage-navigation .homepage-container .input-container .footer-homepage ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 22%;
}
.homepage-main .homepage-navigation .homepage-container .input-container .footer-homepage ul ::marker {
  font-size: 10px;
}
.homepage-main .homepage-navigation .homepage-container .input-container .footer-homepage ul li a {
  color: #fff;
}
.homepage-main .homepage-navigation .homepage-container .support {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  width: 20%;
  align-items: center;
}
.homepage-main .homepage-navigation .homepage-container .support button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 30px;
  width: 10vw;
  height: 6vh;
  align-items: center;
  background-color: #ff6b6b;
  color: #fff;
}
.homepage-main .homepage-navigation .homepage-container .support button svg {
  font-size: 20px;
}

.menu {
  position: absolute;
  width: 100vw;
  height: 20vh;
  background-color: transparent;
}
.menu .menu-container {
  width: 100%;
  height: 90%;
  padding-top: 10px;
}
.menu .menu-container .menu-row {
  width: 100%;
  height: 100%;
}
.menu .menu-container .menu-row .currancy-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 5vh;
  position: relative;
  align-items: center;
  background-color: transparent;
}
.menu .menu-container .menu-row .currancy-wrapper select {
  background-color: coral;
  color: brown;
  margin-right: 5vw;
}
.menu .menu-container .menu-row .logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15vh;
  padding-top: 10px;
}
.menu .menu-container .menu-row .logo-wrapper img {
  width: 11vw;
  height: 7vh;
  padding-left: 10vw;
}
.menu .menu-container .menu-row .logo-wrapper .login-container {
  width: 10vw;
}
.menu .menu-container .menu-row .logo-wrapper .login-container button {
  width: 90px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 30px;
  background-color: #ff6b6b;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}/*# sourceMappingURL=main.css.map */